<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Site</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Projetos</display-name>
    <servlet-name>Projetos</servlet-name>
    <servlet-class>SERVLET.USUARIO.Projetos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Projetos</servlet-name>
    <url-pattern>/Projetos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Perguntas</display-name>
    <servlet-name>Perguntas</servlet-name>
    <servlet-class>SERVLET.USUARIO.Perguntas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Perguntas</servlet-name>
    <url-pattern>/Perguntas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>SERVLET.CLIENTE.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Formulario</display-name>
    <servlet-name>Formulario</servlet-name>
    <servlet-class>SERVLET.USUARIO.Formulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formulario</servlet-name>
    <url-pattern>/Formulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>APIServletsClientes</display-name>
    <servlet-name>APIServletsClientes</servlet-name>
    <servlet-class>CLIENTE.SERVLET.APIServletsClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APIServletsClientes</servlet-name>
    <url-pattern>/APIServletsClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSessao</display-name>
    <servlet-name>ServletSessao</servlet-name>
    <servlet-class>SERVLET.ServletSessao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSessao</servlet-name>
    <url-pattern>/ServletSessao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario</display-name>
    <servlet-name>ServletFormulario</servlet-name>
    <servlet-class>SERVLET.ServletFormulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario</servlet-name>
    <url-pattern>/ServletFormulario</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroLogin</display-name>
    <filter-name>FiltroLogin</filter-name>
    <filter-class>FILTER.FiltroLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroLogin</filter-name>
    <url-pattern>/FiltroLogin</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroComentarios</display-name>
    <filter-name>FiltroComentarios</filter-name>
    <filter-class>FILTER.FiltroComentarios</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroComentarios</filter-name>
    <url-pattern>/FiltroComentarios</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroProjetos</display-name>
    <filter-name>FiltroProjetos</filter-name>
    <filter-class>FILTER.FiltroProjetos</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroProjetos</filter-name>
    <url-pattern>/FiltroProjetos</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroCarregarIndex</display-name>
    <filter-name>FiltroCarregarIndex</filter-name>
    <filter-class>FILTER.FiltroCarregarIndex</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroCarregarIndex</filter-name>
    <url-pattern>/FiltroCarregarIndex</url-pattern>
  </filter-mapping>
</web-app>